<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controlador.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuarioServlet</servlet-name>
        <servlet-class>controlador.LoginUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>controlador.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <servlet-class>controlador.RegistroUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionTiendaServlet</servlet-name>
        <servlet-class>controlador.SeleccionTiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCompradorServlet</servlet-name>
        <servlet-class>controlador.EditarCompradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTiendaServlet</servlet-name>
        <servlet-class>controlador.EditarTiendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuarioServlet</servlet-name>
        <url-pattern>/LoginUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/AgregarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <url-pattern>/RegistroUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionTiendaServlet</servlet-name>
        <url-pattern>/SeleccionTiendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCompradorServlet</servlet-name>
        <url-pattern>/EditarCompradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTiendaServlet</servlet-name>
        <url-pattern>/EditarTiendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
