<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainMenuServlet</servlet-name>
        <servlet-class>controlador.MainMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionTiendaServlet</servlet-name>
        <servlet-class>controlador.SeleccionTiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuarioServlet</servlet-name>
        <servlet-class>controlador.LoginUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTiendasServlet</servlet-name>
        <servlet-class>controlador.ListarTiendasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCompradorServlet</servlet-name>
        <servlet-class>controlador.EditarCompradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarCarritoServlet</servlet-name>
        <servlet-class>controlador.AgregarCarritoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>controlador.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <servlet-class>controlador.RegistroUsuarioServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>RegistrarVendedorServlet</servlet-name>
        <servlet-class>controlador.RegistrarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginVendedorServlet</servlet-name>
        <servlet-class>controlador.LoginVendedorServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>MostrarTiendaServlet</servlet-name>
        <servlet-class>controlador.MostrarTiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosBodegaServlet</servlet-name>
        <servlet-class>controlador.ProductosBodegaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTiendaServlet</servlet-name>
        <servlet-class>controlador.CrearTiendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTiendaServlet</servlet-name>
        <servlet-class>controlador.EditarTiendaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginUsuarioServlet</servlet-name>
        <url-pattern>/LoginUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/AgregarProductoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCarritoServlet</servlet-name>
        <url-pattern>/AgregarCarritoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVendedorServlet</servlet-name>
        <url-pattern>/RegistrarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVendedorServlet</servlet-name>
        <url-pattern>/LoginVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTiendasServlet</servlet-name>
        <url-pattern>/ListarTiendasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionTiendaServlet</servlet-name>
        <url-pattern>/SeleccionTiendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <url-pattern>/RegistroUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCompradorServlet</servlet-name>
        <url-pattern>/EditarCompradorServlet</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>MainMenuServlet</servlet-name>
        <url-pattern>/MainMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarTiendaServlet</servlet-name>
        <url-pattern>/MostrarTiendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTiendaServlet</servlet-name>
        <url-pattern>/CrearTiendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosBodegaServlet</servlet-name>
        <url-pattern>/ProductosBodegaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTiendaServlet</servlet-name>
        <url-pattern>/EditarTiendaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
    
