body, html{
    height: 100%;
}

body {
    font-family: 'Leckerli One', cursive;
}

.contenedor{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p,b{
  font-family: 'Leckerli One', cursive;
}

.btn {
  margin: 0 auto;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Leckerli One', cursive;
  color: #ffffff;
  font-size: 20px;
  background: #210dd6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #deed05;
  text-decoration: none;
}

.centrito{
  margin-top: 250px;
}

.centritoTu{
  margin-top: 100px;
}

.carritoIcon{
    float: right !important;
    height: 30px;
    padding-right: 5px;
    padding-top: 5px;
}

.carritoButt{
    float: right !important;
    background: transparent;
    border: 0px;
}

.col-sm-4{
    text-align: center;
}