body, html{
    height: 100%;
}

body {
    font-family: 'Leckerli One', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body{

            }

.contenedor{
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

p,b{
  font-family: 'Leckerli One', cursive;
}

.btn {
  margin: 0 auto !important;
  -webkit-border-radius: 28 !important;
  -moz-border-radius: 28 !important;
  border-radius: 28px !important;
  font-family: 'Leckerli One', cursive !important;
  color: #ffffff !important;
  font-size: 20px !important;
  background: #210dd6 !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
}

.btn:hover {
  background: #deed05 !important;
  text-decoration: none !important;
}

.centrito{
  margin-top: 250px;
}

.centritoTu{
  margin-top: 100px;
}

.carritoIcon{
    float: right !important;
    height: 30px;
    padding-right: 5px;
    padding-top: 5px;
}

.carritoButt{
    float: right !important;
    background: transparent;
    border: 0px;
}

.col-sm-4{
    text-align: center;
}